<div id="<%= dom_id classroom %>">
  <p>
    <strong>Section:</strong>
    <%= classroom.section %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= classroom.building %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= classroom.floor %>
  </p>

</div>
